torch==2.1.2
torchvision==0.16.2
gradio==5.9.1
pydantic==2.9.2
basicsr==1.4.2
realesrgan==0.3.0
opencv-python-headless==4.10.0.84
scikit-image==0.24.0
matplotlib==3.9.2
numpy==1.26.4
pillow==10.4.0
kagglehub==0.3.4
